In [318]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [319]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df.drop(['EIN','NAME'],axis=1,inplace=True)
application_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [320]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = application_df['APPLICATION_TYPE'].value_counts().index[8:]

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [321]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = application_df['CLASSIFICATION'].value_counts().index[5:]

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [322]:
# Convert categorical data to numeric with `pd.get_dummies`
categorical = pd.get_dummies(application_df)
categorical

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
1,1,108590,1,False,False,False,True,False,False,False,...,True,False,False,False,False,False,False,False,True,False
2,1,5000,0,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,True,False
3,1,6692,1,False,False,False,True,False,False,False,...,False,True,False,False,False,False,False,False,True,False
4,1,142590,1,False,False,False,True,False,False,False,...,False,False,True,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,True,False
34295,1,5000,0,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,True,False
34296,1,5000,0,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,True,False
34297,1,5000,1,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,True,False
34298,1,36500179,0,False,False,False,True,False,False,False,...,False,False,False,False,True,False,False,False,True,False

In [323]:
# Split our preprocessed data into our features and target arrays
X = categorical.drop('IS_SUCCESSFUL',axis=1)
y = categorical['IS_SUCCESSFUL']
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state=19)

In [324]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## First Method: Tuning

In [317]:
# Create a method that creates a new Sequential model with hyperparameter options
def create_model(hp):
    nn_model = tf.keras.models.Sequential()

    # Allow kerastuner to decide which activation function to use in hidden layers
    activation = hp.Choice('activation',['relu','tanh','sigmoid','softmax'])
    # Allow kerastuner to decide number of neurons in first layer
    nn_model.add(tf.keras.layers.Dense(units=hp.Int('first_units',
        min_value=20,
        max_value=150,
        step=5), activation=activation, input_dim=43))

    # Allow kerastuner to decide number of hidden layers and neurons in hidden layers
    for i in range(hp.Int('num_layers', 1, 10)):
        nn_model.add(tf.keras.layers.Dense(units=hp.Int('units_' + str(i),
            min_value=1,
            max_value=100,
            step=5),
            activation=activation))

    nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

    # Compile the model
    nn_model.compile(loss="binary_crossentropy", optimizer='adam', metrics="accuracy")

    return nn_model

In [325]:
import keras_tuner as kt

tuner = kt.Hyperband(
    create_model,
    objective="val_accuracy",
    max_epochs=10,
    hyperband_iterations=1,
    overwrite=True)

In [326]:
tuner.search(X_train_scaled,y_train,epochs=2,validation_data=(X_test_scaled,y_test))

Trial 30 Complete [00h 00m 12s]
val_accuracy: 0.5355101823806763

Best val_accuracy So Far: 0.7303789854049683
Total elapsed time: 00h 02m 34s

In [327]:
top_hyper = tuner.get_best_hyperparameters(1)
for param in top_hyper:
    print(param.values)

{'activation': 'sigmoid', 'first_units': 120, 'num_layers': 5, 'units_0': 16, 'units_1': 86, 'units_2': 6, 'units_3': 51, 'units_4': 21, 'units_5': 36, 'units_6': 56, 'units_7': 36, 'units_8': 96, 'units_9': 1, 'tuner/epochs': 10, 'tuner/initial_epoch': 4, 'tuner/bracket': 1, 'tuner/round': 1, 'tuner/trial_id': '0021'}

In [329]:
top_model = tuner.get_best_models(1)
for model in top_model:
    model_loss, model_accuracy = model.evaluate(X_test_scaled,y_test,verbose=2)
    print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")
    model.save('AlphabetSoupCharity_Optimization.h5')

WARNING:tensorflow:Detecting that an object or model or tf.train.Checkpoint is being deleted with unrestored values. See the following logs for the specific values in question. To silence these warnings, use `status.expect_partial()`. See https://www.tensorflow.org/api_docs/python/tf/train/Checkpoint#restorefor details about the status object returned by the restore function.
WARNING:tensorflow:Value in checkpoint could not be found in the restored object: (root).optimizer._variables.1
WARNING:tensorflow:Value in checkpoint could not be found in the restored object: (root).optimizer._variables.2
WARNING:tensorflow:Value in checkpoint could not be found in the restored object: (root).optimizer._variables.3
WARNING:tensorflow:Value in checkpoint could not be found in the restored object: (root).optimizer._variables.4
WARNING:tensorflow:Value in checkpoint could not be found in the restored object: (root).optimizer._variables.5
WARNING:tensorflow:Value in checkpoint could not be found in the restored object: (root).optimizer._variables.6
WARNING:tensorflow:Value in checkpoint could not be found in the restored object: (root).optimizer._variables.7
WARNING:tensorflow:Value in checkpoint could not be found in the restored object: (root).optimizer._variables.8
WARNING:tensorflow:Value in checkpoint could not be found in the restored object: (root).optimizer._variables.9
WARNING:tensorflow:Value in checkpoint could not be found in the restored object: (root).optimizer._variables.10
WARNING:tensorflow:Value in checkpoint could not be found in the restored object: (root).optimizer._variables.11
WARNING:tensorflow:Value in checkpoint could not be found in the restored object: (root).optimizer._variables.12
WARNING:tensorflow:Value in checkpoint could not be found in the restored object: (root).optimizer._variables.13
WARNING:tensorflow:Value in checkpoint could not be found in the restored object: (root).optimizer._variables.14
WARNING:tensorflow:Value in checkpoint could not be found in the restored object: (root).optimizer._variables.15
WARNING:tensorflow:Value in checkpoint could not be found in the restored object: (root).optimizer._variables.16
268/268 - 0s - loss: 0.5737 - accuracy: 0.7304 - 246ms/epoch - 919us/step
Loss: 0.5736827254295349, Accuracy: 0.7303789854049683

c:\Users\Ian\anaconda3\envs\dev\lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(

## Next Method: Random Forest Feature Significance

In [186]:
from sklearn.ensemble import RandomForestClassifier
rf_model = RandomForestClassifier(n_estimators=500, random_state=78)

In [187]:
rf_model = rf_model.fit(X_train_scaled, y_train)
predictions = rf_model.predict(X_test_scaled)

In [188]:
# Calculating feature importance
importances = rf_model.feature_importances_

sorted(zip(rf_model.feature_importances_, X.columns), reverse=True)

[(0.4027011815242518, 'ASK_AMT'),
 (0.13443804736600892, 'AFFILIATION_CompanySponsored'),
 (0.12302315306323777, 'AFFILIATION_Independent'),
 (0.02772942941809135, 'ORGANIZATION_Association'),
 (0.026929544944631567, 'APPLICATION_TYPE_T5'),
 (0.022731415324449788, 'APPLICATION_TYPE_T10'),
 (0.020791067926627493, 'CLASSIFICATION_C2100'),
 (0.019992082848820137, 'ORGANIZATION_Trust'),
 (0.018694153191299086, 'CLASSIFICATION_Other'),
 (0.018501817032715164, 'APPLICATION_TYPE_T19'),
 (0.01747841361957959, 'CLASSIFICATION_C2000'),
 (0.016518456929024417, 'APPLICATION_TYPE_T4'),
 (0.015171887853811582, 'APPLICATION_TYPE_T3'),
 (0.014200628319505082, 'CLASSIFICATION_C1000'),
 (0.012220482946027079, 'USE_CASE_ProductDev'),
 (0.010764565259177896, 'APPLICATION_TYPE_T6'),
 (0.010545597461687409, 'USE_CASE_Preservation'),
 (0.01030753817057716, 'CLASSIFICATION_C1200'),
 (0.00945296127325892, 'INCOME_AMT_0'),
 (0.007753720227588258, 'CLASSIFICATION_C3000'),
 (0.007026077012825454, 'INCOME_AMT_25000-99999'),
 (0.006506462075884862, 'INCOME_AMT_100000-499999'),
 (0.0058916392909584125, 'INCOME_AMT_1M-5M'),
 (0.00583100706553286, 'INCOME_AMT_1-9999'),
 (0.004546321251452977, 'APPLICATION_TYPE_T8'),
 (0.004316220608485563, 'APPLICATION_TYPE_T7'),
 (0.0035611061746824092, 'INCOME_AMT_10000-24999'),
 (0.003449249869861428, 'ORGANIZATION_Co-operative'),
 (0.003293242037280573, 'INCOME_AMT_10M-50M'),
 (0.003191132951105012, 'USE_CASE_CommunityServ'),
 (0.002664891974440657, 'INCOME_AMT_5M-10M'),
 (0.0023968076758154266, 'INCOME_AMT_50M+'),
 (0.0019283917099339556, 'APPLICATION_TYPE_Other'),
 (0.0013973367350052718, 'USE_CASE_Heathcare'),
 (0.0013443145665718694, 'AFFILIATION_Family/Parent'),
 (0.0006471358634847288, 'ORGANIZATION_Corporation'),
 (0.0005772706546401718, 'AFFILIATION_National'),
 (0.00041526683346045367, 'SPECIAL_CONSIDERATIONS_Y'),
 (0.00038343685832685725, 'SPECIAL_CONSIDERATIONS_N'),
 (0.0003316991489922323, 'AFFILIATION_Regional'),
 (0.0001998105065232112, 'STATUS'),
 (7.781875238187794e-05, 'USE_CASE_Other'),
 (7.721568198346474e-05, 'AFFILIATION_Other')]

## It looks like Status is not a very useful feature. Let's drop it, reenter, and scale the data.

In [189]:
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [190]:
application_df.drop(['EIN','NAME','STATUS'],axis=1,inplace=True)
application_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1M-5M,N,36500179,0

In [191]:
application_types_to_replace = application_df['APPLICATION_TYPE'].value_counts().index[8:]

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")
classifications_to_replace = application_df['CLASSIFICATION'].value_counts().index[5:]

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

In [192]:
# Convert categorical data to numeric with `pd.get_dummies`
categorical = pd.get_dummies(application_df)
categorical

,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,5000,1,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
1,108590,1,False,False,False,True,False,False,False,False,...,True,False,False,False,False,False,False,False,True,False
2,5000,0,False,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,True,False
3,6692,1,False,False,False,True,False,False,False,False,...,False,True,False,False,False,False,False,False,True,False
4,142590,1,False,False,False,True,False,False,False,False,...,False,False,True,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,5000,0,False,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,True,False
34295,5000,0,False,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,True,False
34296,5000,0,False,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
34297,5000,1,False,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,True,False
34298,36500179,0,False,False,False,True,False,False,False,False,...,False,False,False,False,True,False,False,False,True,False

In [193]:
# Split our preprocessed data into our features and target arrays
X = categorical.drop('IS_SUCCESSFUL',axis=1)
y = categorical['IS_SUCCESSFUL']
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state=19)

In [194]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [195]:
rf_model = RandomForestClassifier(n_estimators=500, random_state=78)

In [196]:
rf_model = rf_model.fit(X_train_scaled, y_train)
predictions = rf_model.predict(X_test_scaled)

In [197]:
importances = rf_model.feature_importances_
# We can sort the features by their importance
sorted(zip(rf_model.feature_importances_, X.columns), reverse=True)

[(0.4019846320314361, 'ASK_AMT'),
 (0.13832516337490425, 'AFFILIATION_CompanySponsored'),
 (0.12024566354212161, 'AFFILIATION_Independent'),
 (0.02876452587284753, 'APPLICATION_TYPE_T5'),
 (0.028086039109127835, 'ORGANIZATION_Association'),
 (0.02236472512100536, 'APPLICATION_TYPE_T10'),
 (0.020198795267977677, 'ORGANIZATION_Trust'),
 (0.020006436885692477, 'CLASSIFICATION_C2100'),
 (0.018564865622292172, 'APPLICATION_TYPE_T19'),
 (0.018382155468828265, 'CLASSIFICATION_Other'),
 (0.017223727712321276, 'CLASSIFICATION_C2000'),
 (0.015837740847987152, 'APPLICATION_TYPE_T4'),
 (0.01494901067065688, 'APPLICATION_TYPE_T3'),
 (0.013757401818371096, 'CLASSIFICATION_C1000'),
 (0.012409069089367088, 'USE_CASE_ProductDev'),
 (0.011373601590130157, 'APPLICATION_TYPE_T6'),
 (0.010711605934915599, 'USE_CASE_Preservation'),
 (0.010321533068709405, 'CLASSIFICATION_C1200'),
 (0.009662965931940767, 'INCOME_AMT_0'),
 (0.00755597967267923, 'CLASSIFICATION_C3000'),
 (0.007053136816465677, 'INCOME_AMT_25000-99999'),
 (0.006312597361264622, 'INCOME_AMT_100000-499999'),
 (0.00601768459921561, 'INCOME_AMT_1M-5M'),
 (0.005727542040635093, 'INCOME_AMT_1-9999'),
 (0.004634854893013906, 'APPLICATION_TYPE_T8'),
 (0.004357154320003086, 'APPLICATION_TYPE_T7'),
 (0.0034729837670064287, 'INCOME_AMT_10000-24999'),
 (0.0033063950617169555, 'INCOME_AMT_10M-50M'),
 (0.003210864015356894, 'USE_CASE_CommunityServ'),
 (0.0030393770629368795, 'ORGANIZATION_Co-operative'),
 (0.002650526696418103, 'INCOME_AMT_5M-10M'),
 (0.0024601911807057494, 'INCOME_AMT_50M+'),
 (0.001945019451015147, 'APPLICATION_TYPE_Other'),
 (0.0013701213399407192, 'USE_CASE_Heathcare'),
 (0.0012859093915801273, 'AFFILIATION_Family/Parent'),
 (0.0006154166456002569, 'ORGANIZATION_Corporation'),
 (0.0005685145840048605, 'AFFILIATION_National'),
 (0.0003977097410455722, 'SPECIAL_CONSIDERATIONS_N'),
 (0.00039217393699642555, 'SPECIAL_CONSIDERATIONS_Y'),
 (0.0003086072438979491, 'AFFILIATION_Regional'),
 (8.559516979719377e-05, 'USE_CASE_Other'),
 (6.198604807074727e-05, 'AFFILIATION_Other')]

## Trying model with trimmed data

In [198]:
# The tuner seemed to suggest that less layers is better than more, so I will go with two hidden layers

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=256, activation="tanh", input_dim=42))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=128, activation="sigmoid"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_4 (Dense)             (None, 256)               11008

 dense_5 (Dense)             (None, 128)               32896

 dense_6 (Dense)             (None, 1)                 129

=================================================================

Total params: 44033 (172.00 KB)
Trainable params: 44033 (172.00 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [199]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [200]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 1s 737us/step - loss: 0.5803 - accuracy: 0.7166
Epoch 2/100
804/804 [==============================] - 1s 726us/step - loss: 0.5642 - accuracy: 0.7250
Epoch 3/100
804/804 [==============================] - 1s 721us/step - loss: 0.5583 - accuracy: 0.7290
Epoch 4/100
804/804 [==============================] - 1s 703us/step - loss: 0.5555 - accuracy: 0.7296
Epoch 5/100
804/804 [==============================] - 1s 733us/step - loss: 0.5533 - accuracy: 0.7296
Epoch 6/100
804/804 [==============================] - 1s 685us/step - loss: 0.5510 - accuracy: 0.7316
Epoch 7/100
804/804 [==============================] - 1s 697us/step - loss: 0.5500 - accuracy: 0.7340
Epoch 8/100
804/804 [==============================] - 1s 691us/step - loss: 0.5483 - accuracy: 0.7326
Epoch 9/100
804/804 [==============================] - 1s 725us/step - loss: 0.5473 - accuracy: 0.7342
Epoch 10/100
804/804 [==============================] - 1s 719us/step - loss: 0.5472 - accuracy: 0.7338
Epoch 11/100
804/804 [==============================] - 1s 691us/step - loss: 0.5454 - accuracy: 0.7334
Epoch 12/100
804/804 [==============================] - 1s 702us/step - loss: 0.5447 - accuracy: 0.7344
Epoch 13/100
804/804 [==============================] - 1s 694us/step - loss: 0.5436 - accuracy: 0.7360
Epoch 14/100
804/804 [==============================] - 1s 697us/step - loss: 0.5436 - accuracy: 0.7350
Epoch 15/100
804/804 [==============================] - 1s 718us/step - loss: 0.5430 - accuracy: 0.7360
Epoch 16/100
804/804 [==============================] - 1s 687us/step - loss: 0.5417 - accuracy: 0.7357
Epoch 17/100
804/804 [==============================] - 1s 694us/step - loss: 0.5417 - accuracy: 0.7360
Epoch 18/100
804/804 [==============================] - 1s 691us/step - loss: 0.5409 - accuracy: 0.7367
Epoch 19/100
804/804 [==============================] - 1s 705us/step - loss: 0.5407 - accuracy: 0.7374
Epoch 20/100
804/804 [==============================] - 1s 717us/step - loss: 0.5402 - accuracy: 0.7377
Epoch 21/100
804/804 [==============================] - 1s 699us/step - loss: 0.5398 - accuracy: 0.7366
Epoch 22/100
804/804 [==============================] - 1s 702us/step - loss: 0.5393 - accuracy: 0.7373
Epoch 23/100
804/804 [==============================] - 1s 710us/step - loss: 0.5387 - accuracy: 0.7367
Epoch 24/100
804/804 [==============================] - 1s 717us/step - loss: 0.5386 - accuracy: 0.7389
Epoch 25/100
804/804 [==============================] - 1s 705us/step - loss: 0.5381 - accuracy: 0.7374
Epoch 26/100
804/804 [==============================] - 1s 700us/step - loss: 0.5381 - accuracy: 0.7390
Epoch 27/100
804/804 [==============================] - 1s 687us/step - loss: 0.5375 - accuracy: 0.7385
Epoch 28/100
804/804 [==============================] - 1s 697us/step - loss: 0.5373 - accuracy: 0.7385
Epoch 29/100
804/804 [==============================] - 1s 688us/step - loss: 0.5372 - accuracy: 0.7382
Epoch 30/100
804/804 [==============================] - 1s 699us/step - loss: 0.5366 - accuracy: 0.7387
Epoch 31/100
804/804 [==============================] - 1s 722us/step - loss: 0.5365 - accuracy: 0.7379
Epoch 32/100
804/804 [==============================] - 1s 692us/step - loss: 0.5361 - accuracy: 0.7389
Epoch 33/100
804/804 [==============================] - 1s 722us/step - loss: 0.5358 - accuracy: 0.7389
Epoch 34/100
804/804 [==============================] - 1s 715us/step - loss: 0.5358 - accuracy: 0.7389
Epoch 35/100
804/804 [==============================] - 1s 697us/step - loss: 0.5357 - accuracy: 0.7402
Epoch 36/100
804/804 [==============================] - 1s 727us/step - loss: 0.5352 - accuracy: 0.7385
Epoch 37/100
804/804 [==============================] - 1s 702us/step - loss: 0.5349 - accuracy: 0.7402
Epoch 38/100
804/804 [==============================] - 1s 694us/step - loss: 0.5348 - accuracy: 0.7402
Epoch 39/100
804/804 [==============================] - 1s 690us/step - loss: 0.5345 - accuracy: 0.7406
Epoch 40/100
804/804 [==============================] - 1s 716us/step - loss: 0.5347 - accuracy: 0.7396
Epoch 41/100
804/804 [==============================] - 1s 733us/step - loss: 0.5345 - accuracy: 0.7398
Epoch 42/100
804/804 [==============================] - 1s 702us/step - loss: 0.5338 - accuracy: 0.7410
Epoch 43/100
804/804 [==============================] - 1s 695us/step - loss: 0.5340 - accuracy: 0.7402
Epoch 44/100
804/804 [==============================] - 1s 696us/step - loss: 0.5336 - accuracy: 0.7406
Epoch 45/100
804/804 [==============================] - 1s 698us/step - loss: 0.5334 - accuracy: 0.7402
Epoch 46/100
804/804 [==============================] - 1s 717us/step - loss: 0.5333 - accuracy: 0.7402
Epoch 47/100
804/804 [==============================] - 1s 700us/step - loss: 0.5332 - accuracy: 0.7411
Epoch 48/100
804/804 [==============================] - 1s 703us/step - loss: 0.5332 - accuracy: 0.7395
Epoch 49/100
804/804 [==============================] - 1s 729us/step - loss: 0.5326 - accuracy: 0.7413
Epoch 50/100
804/804 [==============================] - 1s 718us/step - loss: 0.5327 - accuracy: 0.7404
Epoch 51/100
804/804 [==============================] - 1s 700us/step - loss: 0.5327 - accuracy: 0.7395
Epoch 52/100
804/804 [==============================] - 1s 694us/step - loss: 0.5321 - accuracy: 0.7409
Epoch 53/100
804/804 [==============================] - 1s 694us/step - loss: 0.5323 - accuracy: 0.7397
Epoch 54/100
804/804 [==============================] - 1s 699us/step - loss: 0.5319 - accuracy: 0.7412
Epoch 55/100
804/804 [==============================] - 1s 727us/step - loss: 0.5318 - accuracy: 0.7415
Epoch 56/100
804/804 [==============================] - 1s 707us/step - loss: 0.5318 - accuracy: 0.7427
Epoch 57/100
804/804 [==============================] - 1s 714us/step - loss: 0.5316 - accuracy: 0.7403
Epoch 58/100
804/804 [==============================] - 1s 717us/step - loss: 0.5313 - accuracy: 0.7413
Epoch 59/100
804/804 [==============================] - 1s 705us/step - loss: 0.5315 - accuracy: 0.7416
Epoch 60/100
804/804 [==============================] - 1s 738us/step - loss: 0.5314 - accuracy: 0.7414
Epoch 61/100
804/804 [==============================] - 1s 706us/step - loss: 0.5309 - accuracy: 0.7409
Epoch 62/100
804/804 [==============================] - 1s 705us/step - loss: 0.5310 - accuracy: 0.7411
Epoch 63/100
804/804 [==============================] - 1s 710us/step - loss: 0.5307 - accuracy: 0.7412
Epoch 64/100
804/804 [==============================] - 1s 727us/step - loss: 0.5312 - accuracy: 0.7413
Epoch 65/100
804/804 [==============================] - 1s 724us/step - loss: 0.5306 - accuracy: 0.7416
Epoch 66/100
804/804 [==============================] - 1s 705us/step - loss: 0.5305 - accuracy: 0.7425
Epoch 67/100
804/804 [==============================] - 1s 707us/step - loss: 0.5301 - accuracy: 0.7416
Epoch 68/100
804/804 [==============================] - 1s 708us/step - loss: 0.5305 - accuracy: 0.7423
Epoch 69/100
804/804 [==============================] - 1s 727us/step - loss: 0.5301 - accuracy: 0.7415
Epoch 70/100
804/804 [==============================] - 1s 708us/step - loss: 0.5300 - accuracy: 0.7418
Epoch 71/100
804/804 [==============================] - 1s 704us/step - loss: 0.5300 - accuracy: 0.7415
Epoch 72/100
804/804 [==============================] - 1s 708us/step - loss: 0.5297 - accuracy: 0.7418
Epoch 73/100
804/804 [==============================] - 1s 738us/step - loss: 0.5298 - accuracy: 0.7416
Epoch 74/100
804/804 [==============================] - 1s 706us/step - loss: 0.5299 - accuracy: 0.7424
Epoch 75/100
804/804 [==============================] - 1s 738us/step - loss: 0.5298 - accuracy: 0.7420
Epoch 76/100
804/804 [==============================] - 1s 703us/step - loss: 0.5298 - accuracy: 0.7423
Epoch 77/100
804/804 [==============================] - 1s 707us/step - loss: 0.5295 - accuracy: 0.7427
Epoch 78/100
804/804 [==============================] - 1s 733us/step - loss: 0.5298 - accuracy: 0.7423
Epoch 79/100
804/804 [==============================] - 1s 705us/step - loss: 0.5296 - accuracy: 0.7414
Epoch 80/100
804/804 [==============================] - 1s 707us/step - loss: 0.5293 - accuracy: 0.7421
Epoch 81/100
804/804 [==============================] - 1s 708us/step - loss: 0.5296 - accuracy: 0.7431
Epoch 82/100
804/804 [==============================] - 1s 734us/step - loss: 0.5291 - accuracy: 0.7421
Epoch 83/100
804/804 [==============================] - 1s 702us/step - loss: 0.5289 - accuracy: 0.7420
Epoch 84/100
804/804 [==============================] - 1s 722us/step - loss: 0.5292 - accuracy: 0.7427
Epoch 85/100
804/804 [==============================] - 1s 707us/step - loss: 0.5290 - accuracy: 0.7423
Epoch 86/100
804/804 [==============================] - 1s 706us/step - loss: 0.5290 - accuracy: 0.7431
Epoch 87/100
804/804 [==============================] - 1s 725us/step - loss: 0.5290 - accuracy: 0.7432
Epoch 88/100
804/804 [==============================] - 1s 703us/step - loss: 0.5289 - accuracy: 0.7437
Epoch 89/100
804/804 [==============================] - 1s 707us/step - loss: 0.5289 - accuracy: 0.7427
Epoch 90/100
804/804 [==============================] - 1s 705us/step - loss: 0.5295 - accuracy: 0.7421
Epoch 91/100
804/804 [==============================] - 1s 729us/step - loss: 0.5287 - accuracy: 0.7414
Epoch 92/100
804/804 [==============================] - 1s 716us/step - loss: 0.5291 - accuracy: 0.7415
Epoch 93/100
804/804 [==============================] - 1s 698us/step - loss: 0.5287 - accuracy: 0.7421
Epoch 94/100
804/804 [==============================] - 1s 724us/step - loss: 0.5289 - accuracy: 0.7421
Epoch 95/100
804/804 [==============================] - 1s 722us/step - loss: 0.5287 - accuracy: 0.7423
Epoch 96/100
804/804 [==============================] - 1s 711us/step - loss: 0.5287 - accuracy: 0.7414
Epoch 97/100
804/804 [==============================] - 1s 703us/step - loss: 0.5287 - accuracy: 0.7424
Epoch 98/100
804/804 [==============================] - 1s 708us/step - loss: 0.5285 - accuracy: 0.7422
Epoch 99/100
804/804 [==============================] - 1s 705us/step - loss: 0.5285 - accuracy: 0.7422
Epoch 100/100
804/804 [==============================] - 1s 727us/step - loss: 0.5284 - accuracy: 0.7427

In [201]:
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5785 - accuracy: 0.7269 - 197ms/epoch - 735us/step
Loss: 0.5784950256347656, Accuracy: 0.7268804907798767

It seems that trimming did not have the desired effect. However, if we look at the feature importances from earlier, the "Other" categories of the binned data are very insignificant. Perhaps the bins could be adjusted.

In [301]:
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [302]:
application_df.drop(['EIN','NAME'],axis=1,inplace=True)
application_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [303]:
# Since the "Other" categories are very unimportant features, it could mean that separating them out would improve accuracy

application_types_to_replace = application_df['APPLICATION_TYPE'].value_counts().index[12:]

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")
classifications_to_replace = application_df['CLASSIFICATION'].value_counts().index[10:]

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

In [304]:
# Convert categorical data to numeric with `pd.get_dummies`
categorical = pd.get_dummies(application_df)
categorical

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T3,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
1,1,108590,1,False,False,False,False,False,False,True,...,True,False,False,False,False,False,False,False,True,False
2,1,5000,0,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
3,1,6692,1,False,False,False,False,False,False,True,...,False,True,False,False,False,False,False,False,True,False
4,1,142590,1,False,False,False,False,False,False,True,...,False,False,True,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
34295,1,5000,0,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
34296,1,5000,0,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,True,False
34297,1,5000,1,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
34298,1,36500179,0,False,False,False,False,False,False,True,...,False,False,False,False,True,False,False,False,True,False

In [305]:
# Split our preprocessed data into our features and target arrays
X = categorical.drop('IS_SUCCESSFUL',axis=1)
y = categorical['IS_SUCCESSFUL']
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state=19)

In [306]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [307]:
rf_model = RandomForestClassifier(n_estimators=500, random_state=78)

In [308]:
rf_model = rf_model.fit(X_train_scaled, y_train)
predictions = rf_model.predict(X_test_scaled)

In [309]:
importances = rf_model.feature_importances_
# We can sort the features by their importance
sorted(zip(rf_model.feature_importances_, X.columns), reverse=True)

[(0.3948605129282035, 'ASK_AMT'),
 (0.13095034128592448, 'AFFILIATION_CompanySponsored'),
 (0.1253008373171088, 'AFFILIATION_Independent'),
 (0.02764755410089237, 'APPLICATION_TYPE_T5'),
 (0.02691903620481213, 'ORGANIZATION_Association'),
 (0.021668636429027225, 'APPLICATION_TYPE_T10'),
 (0.021019471347833316, 'CLASSIFICATION_C2100'),
 (0.0192020936577884, 'ORGANIZATION_Trust'),
 (0.018431155851730142, 'APPLICATION_TYPE_T19'),
 (0.017697707785557362, 'CLASSIFICATION_C2000'),
 (0.01612531805956431, 'APPLICATION_TYPE_T4'),
 (0.015251660844741121, 'APPLICATION_TYPE_T3'),
 (0.013584680548223503, 'CLASSIFICATION_C1000'),
 (0.012735701612434727, 'CLASSIFICATION_C7000'),
 (0.011565473567960217, 'USE_CASE_ProductDev'),
 (0.011534047380491432, 'APPLICATION_TYPE_T6'),
 (0.010788860355656144, 'USE_CASE_Preservation'),
 (0.010205796987200954, 'CLASSIFICATION_C1200'),
 (0.009456883674278887, 'INCOME_AMT_0'),
 (0.008581183075176777, 'CLASSIFICATION_C3000'),
 (0.007131714860284411, 'INCOME_AMT_25000-99999'),
 (0.00689483774267757, 'CLASSIFICATION_Other'),
 (0.006437084856436974, 'INCOME_AMT_100000-499999'),
 (0.005930591538662714, 'INCOME_AMT_1M-5M'),
 (0.005859107839272805, 'INCOME_AMT_1-9999'),
 (0.004727581379328556, 'APPLICATION_TYPE_T8'),
 (0.004317226667905298, 'APPLICATION_TYPE_T7'),
 (0.0035587583124794043, 'INCOME_AMT_10000-24999'),
 (0.0033899856560825883, 'CLASSIFICATION_C5000'),
 (0.003285046280727674, 'INCOME_AMT_10M-50M'),
 (0.003231757482218742, 'ORGANIZATION_Co-operative'),
 (0.0031646385986635753, 'USE_CASE_CommunityServ'),
 (0.0030065786592885263, 'CLASSIFICATION_C1700'),
 (0.0026519119094228064, 'INCOME_AMT_5M-10M'),
 (0.0024216980200837232, 'INCOME_AMT_50M+'),
 (0.0016667250655494309, 'CLASSIFICATION_C4000'),
 (0.0013143404308829367, 'USE_CASE_Heathcare'),
 (0.0012659463161453796, 'AFFILIATION_Family/Parent'),
 (0.0009905005645204224, 'APPLICATION_TYPE_T9'),
 (0.0008202403445945385, 'APPLICATION_TYPE_T13'),
 (0.0006249107314678759, 'AFFILIATION_National'),
 (0.0005973424249108277, 'ORGANIZATION_Corporation'),
 (0.0005685511124419394, 'CLASSIFICATION_C1270'),
 (0.000508641944959724, 'APPLICATION_TYPE_T12'),
 (0.00040292167652347, 'SPECIAL_CONSIDERATIONS_Y'),
 (0.00040255999593534643, 'SPECIAL_CONSIDERATIONS_N'),
 (0.00037173276651980943, 'APPLICATION_TYPE_T2'),
 (0.0003361803831986428, 'AFFILIATION_Regional'),
 (0.00026699993920845013, 'APPLICATION_TYPE_Other'),
 (0.00018560399506850343, 'STATUS'),
 (7.84051139181122e-05, 'USE_CASE_Other'),
 (6.29243760133225e-05, 'AFFILIATION_Other')]

In [313]:
# The tuner seemed to suggest that less layers is better than more, so I will go with two hidden layers

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=256, activation="relu", input_dim=52))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=128, activation="sigmoid"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_13"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_40 (Dense)            (None, 256)               13568

 dense_41 (Dense)            (None, 128)               32896

 dense_42 (Dense)            (None, 1)                 129

=================================================================
Total params: 46593 (182.00 KB)
Trainable params: 46593 (182.00 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [314]:
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [315]:
fit_model = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 1s 722us/step - loss: 0.5652 - accuracy: 0.7241
Epoch 2/100
804/804 [==============================] - 1s 683us/step - loss: 0.5543 - accuracy: 0.7275
Epoch 3/100
804/804 [==============================] - 1s 666us/step - loss: 0.5514 - accuracy: 0.7303
Epoch 4/100
804/804 [==============================] - 1s 708us/step - loss: 0.5500 - accuracy: 0.7313
Epoch 5/100
804/804 [==============================] - 1s 709us/step - loss: 0.5482 - accuracy: 0.7321
Epoch 6/100
804/804 [==============================] - 1s 670us/step - loss: 0.5471 - accuracy: 0.7318
Epoch 7/100
804/804 [==============================] - 1s 670us/step - loss: 0.5462 - accuracy: 0.7331
Epoch 8/100
804/804 [==============================] - 1s 689us/step - loss: 0.5454 - accuracy: 0.7330
Epoch 9/100
804/804 [==============================] - 1s 701us/step - loss: 0.5454 - accuracy: 0.7327
Epoch 10/100
804/804 [==============================] - 1s 673us/step - loss: 0.5448 - accuracy: 0.7335
Epoch 11/100
804/804 [==============================] - 1s 697us/step - loss: 0.5437 - accuracy: 0.7336
Epoch 12/100
804/804 [==============================] - 1s 710us/step - loss: 0.5434 - accuracy: 0.7334
Epoch 13/100
804/804 [==============================] - 1s 685us/step - loss: 0.5428 - accuracy: 0.7336
Epoch 14/100
804/804 [==============================] - 1s 685us/step - loss: 0.5426 - accuracy: 0.7332
Epoch 15/100
804/804 [==============================] - 1s 698us/step - loss: 0.5426 - accuracy: 0.7353
Epoch 16/100
804/804 [==============================] - 1s 716us/step - loss: 0.5416 - accuracy: 0.7348
Epoch 17/100
804/804 [==============================] - 1s 690us/step - loss: 0.5408 - accuracy: 0.7360
Epoch 18/100
804/804 [==============================] - 1s 685us/step - loss: 0.5406 - accuracy: 0.7353
Epoch 19/100
804/804 [==============================] - 1s 691us/step - loss: 0.5400 - accuracy: 0.7367
Epoch 20/100
804/804 [==============================] - 1s 717us/step - loss: 0.5399 - accuracy: 0.7363
Epoch 21/100
804/804 [==============================] - 1s 686us/step - loss: 0.5389 - accuracy: 0.7364
Epoch 22/100
804/804 [==============================] - 1s 672us/step - loss: 0.5387 - accuracy: 0.7352
Epoch 23/100
804/804 [==============================] - 1s 681us/step - loss: 0.5383 - accuracy: 0.7364
Epoch 24/100
804/804 [==============================] - 1s 726us/step - loss: 0.5381 - accuracy: 0.7364
Epoch 25/100
804/804 [==============================] - 1s 674us/step - loss: 0.5374 - accuracy: 0.7369
Epoch 26/100
804/804 [==============================] - 1s 670us/step - loss: 0.5374 - accuracy: 0.7371
Epoch 27/100
804/804 [==============================] - 1s 706us/step - loss: 0.5361 - accuracy: 0.7359
Epoch 28/100
804/804 [==============================] - 1s 683us/step - loss: 0.5358 - accuracy: 0.7376
Epoch 29/100
804/804 [==============================] - 1s 723us/step - loss: 0.5358 - accuracy: 0.7353
Epoch 30/100
804/804 [==============================] - 1s 679us/step - loss: 0.5354 - accuracy: 0.7376
Epoch 31/100
804/804 [==============================] - 1s 707us/step - loss: 0.5349 - accuracy: 0.7376
Epoch 32/100
804/804 [==============================] - 1s 693us/step - loss: 0.5349 - accuracy: 0.7382
Epoch 33/100
804/804 [==============================] - 1s 671us/step - loss: 0.5344 - accuracy: 0.7389
Epoch 34/100
804/804 [==============================] - 1s 670us/step - loss: 0.5341 - accuracy: 0.7391
Epoch 35/100
804/804 [==============================] - 1s 725us/step - loss: 0.5342 - accuracy: 0.7389
Epoch 36/100
804/804 [==============================] - 1s 666us/step - loss: 0.5334 - accuracy: 0.7393
Epoch 37/100
804/804 [==============================] - 1s 683us/step - loss: 0.5334 - accuracy: 0.7399
Epoch 38/100
804/804 [==============================] - 1s 699us/step - loss: 0.5330 - accuracy: 0.7397
Epoch 39/100
804/804 [==============================] - 1s 712us/step - loss: 0.5325 - accuracy: 0.7398
Epoch 40/100
804/804 [==============================] - 1s 673us/step - loss: 0.5325 - accuracy: 0.7411
Epoch 41/100
804/804 [==============================] - 1s 672us/step - loss: 0.5323 - accuracy: 0.7398
Epoch 42/100
804/804 [==============================] - 1s 697us/step - loss: 0.5318 - accuracy: 0.7408
Epoch 43/100
804/804 [==============================] - 1s 670us/step - loss: 0.5317 - accuracy: 0.7406
Epoch 44/100
804/804 [==============================] - 1s 658us/step - loss: 0.5312 - accuracy: 0.7411
Epoch 45/100
804/804 [==============================] - 1s 658us/step - loss: 0.5316 - accuracy: 0.7408
Epoch 46/100
804/804 [==============================] - 1s 710us/step - loss: 0.5310 - accuracy: 0.7407
Epoch 47/100
804/804 [==============================] - 1s 669us/step - loss: 0.5310 - accuracy: 0.7402
Epoch 48/100
804/804 [==============================] - 1s 671us/step - loss: 0.5308 - accuracy: 0.7416
Epoch 49/100
804/804 [==============================] - 1s 701us/step - loss: 0.5307 - accuracy: 0.7406
Epoch 50/100
804/804 [==============================] - 1s 679us/step - loss: 0.5303 - accuracy: 0.7413
Epoch 51/100
804/804 [==============================] - 1s 675us/step - loss: 0.5303 - accuracy: 0.7413
Epoch 52/100
804/804 [==============================] - 1s 661us/step - loss: 0.5298 - accuracy: 0.7409
Epoch 53/100
804/804 [==============================] - 1s 722us/step - loss: 0.5299 - accuracy: 0.7408
Epoch 54/100
804/804 [==============================] - 1s 674us/step - loss: 0.5295 - accuracy: 0.7406
Epoch 55/100
804/804 [==============================] - 1s 705us/step - loss: 0.5298 - accuracy: 0.7402
Epoch 56/100
804/804 [==============================] - 1s 696us/step - loss: 0.5292 - accuracy: 0.7422
Epoch 57/100
804/804 [==============================] - 1s 671us/step - loss: 0.5295 - accuracy: 0.7415
Epoch 58/100
804/804 [==============================] - 1s 668us/step - loss: 0.5297 - accuracy: 0.7405
Epoch 59/100
804/804 [==============================] - 1s 707us/step - loss: 0.5294 - accuracy: 0.7413
Epoch 60/100
804/804 [==============================] - 1s 692us/step - loss: 0.5288 - accuracy: 0.7422
Epoch 61/100
804/804 [==============================] - 1s 678us/step - loss: 0.5288 - accuracy: 0.7411
Epoch 62/100
804/804 [==============================] - 1s 671us/step - loss: 0.5287 - accuracy: 0.7409
Epoch 63/100
804/804 [==============================] - 1s 712us/step - loss: 0.5287 - accuracy: 0.7409
Epoch 64/100
804/804 [==============================] - 1s 665us/step - loss: 0.5284 - accuracy: 0.7407
Epoch 65/100
804/804 [==============================] - 1s 674us/step - loss: 0.5286 - accuracy: 0.7425
Epoch 66/100
804/804 [==============================] - 1s 702us/step - loss: 0.5284 - accuracy: 0.7416
Epoch 67/100
804/804 [==============================] - 1s 689us/step - loss: 0.5284 - accuracy: 0.7418
Epoch 68/100
804/804 [==============================] - 1s 671us/step - loss: 0.5286 - accuracy: 0.7427
Epoch 69/100
804/804 [==============================] - 1s 664us/step - loss: 0.5283 - accuracy: 0.7413
Epoch 70/100
804/804 [==============================] - 1s 708us/step - loss: 0.5281 - accuracy: 0.7408
Epoch 71/100
804/804 [==============================] - 1s 670us/step - loss: 0.5281 - accuracy: 0.7412
Epoch 72/100
804/804 [==============================] - 1s 708us/step - loss: 0.5279 - accuracy: 0.7413
Epoch 73/100
804/804 [==============================] - 1s 674us/step - loss: 0.5282 - accuracy: 0.7423
Epoch 74/100
804/804 [==============================] - 1s 678us/step - loss: 0.5284 - accuracy: 0.7416
Epoch 75/100
804/804 [==============================] - 1s 664us/step - loss: 0.5281 - accuracy: 0.7411
Epoch 76/100
804/804 [==============================] - 1s 725us/step - loss: 0.5278 - accuracy: 0.7410
Epoch 77/100
804/804 [==============================] - 1s 688us/step - loss: 0.5277 - accuracy: 0.7417
Epoch 78/100
804/804 [==============================] - 1s 701us/step - loss: 0.5277 - accuracy: 0.7416
Epoch 79/100
804/804 [==============================] - 1s 696us/step - loss: 0.5288 - accuracy: 0.7421
Epoch 80/100
804/804 [==============================] - 1s 741us/step - loss: 0.5282 - accuracy: 0.7413
Epoch 81/100
804/804 [==============================] - 1s 779us/step - loss: 0.5275 - accuracy: 0.7410
Epoch 82/100
804/804 [==============================] - 1s 719us/step - loss: 0.5275 - accuracy: 0.7415
Epoch 83/100
804/804 [==============================] - 1s 709us/step - loss: 0.5280 - accuracy: 0.7409
Epoch 84/100
804/804 [==============================] - 1s 723us/step - loss: 0.5275 - accuracy: 0.7420
Epoch 85/100
804/804 [==============================] - 1s 687us/step - loss: 0.5278 - accuracy: 0.7420
Epoch 86/100
804/804 [==============================] - 1s 691us/step - loss: 0.5283 - accuracy: 0.7417
Epoch 87/100
804/804 [==============================] - 1s 716us/step - loss: 0.5275 - accuracy: 0.7425
Epoch 88/100
804/804 [==============================] - 1s 705us/step - loss: 0.5272 - accuracy: 0.7420
Epoch 89/100
804/804 [==============================] - 1s 734us/step - loss: 0.5272 - accuracy: 0.7421
Epoch 90/100
804/804 [==============================] - 1s 687us/step - loss: 0.5279 - accuracy: 0.7418
Epoch 91/100
804/804 [==============================] - 1s 705us/step - loss: 0.5273 - accuracy: 0.7428
Epoch 92/100
804/804 [==============================] - 1s 695us/step - loss: 0.5274 - accuracy: 0.7418
Epoch 93/100
804/804 [==============================] - 1s 720us/step - loss: 0.5278 - accuracy: 0.7424
Epoch 94/100
804/804 [==============================] - 1s 693us/step - loss: 0.5277 - accuracy: 0.7424
Epoch 95/100
804/804 [==============================] - 1s 690us/step - loss: 0.5278 - accuracy: 0.7425
Epoch 96/100
804/804 [==============================] - 1s 700us/step - loss: 0.5276 - accuracy: 0.7421
Epoch 97/100
804/804 [==============================] - 1s 754us/step - loss: 0.5274 - accuracy: 0.7418
Epoch 98/100
804/804 [==============================] - 1s 701us/step - loss: 0.5272 - accuracy: 0.7435
Epoch 99/100
804/804 [==============================] - 1s 699us/step - loss: 0.5270 - accuracy: 0.7428
Epoch 100/100
804/804 [==============================] - 1s 705us/step - loss: 0.5271 - accuracy: 0.7420

In [316]:
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5725 - accuracy: 0.7215 - 177ms/epoch - 660us/step
Loss: 0.5724986791610718, Accuracy: 0.7215160131454468

It would appear that increasing the number of bins decreased accuracy overall.